html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.active {
	&.mat-button.mat-button-base {
		background-color: rgba(255, 255, 255, 0.1) !important;
	}
}

.select-form-field-no-margin {
	.mat-form-field-wrapper {
		padding-bottom: 0;
	}
}

.no-hover-effect.mat-button .mat-button-focus-overlay {
	opacity: 0;
	background-color: transparent;
}
