html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.active {
	&.mat-button.mat-button-base {
		background-color: rgba(255, 255, 255, 0.1) !important;
	}
}
