<nav class="app-nav-bar component-primary-background">
  <div class="nav-bar-icon-wrapper">
    <app-svg-icon class="nav-bar-icon" [svgIconName]="mainAppIcon"></app-svg-icon>
  </div>
  <div class="app-main-text">
    <h1>Bizbuzation</h1>
  </div>
  <div class="nav-bar-buttons-wrapper">
    <a class="nav-bar-button" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
    <a class="nav-bar-button" mat-button routerLinkActive="active" routerLink="/report-expense">Report Expense</a>
    <a class="nav-bar-button" mat-button routerLinkActive="active" routerLink="/expense-statistics">Expense Statistics</a>
    <a class="nav-bar-button" mat-button routerLinkActive="active" routerLink="/expense-management">Expense Management</a>
    <a class="nav-bar-button" mat-button routerLinkActive="active" routerLink="/account-management">Account Management</a>
  </div>
</nav>

