.mat-dialog-title{
text-align: center;
font-size: 2rem;
};

.mat-dialog-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
};

.mat-dialog-actions{
  justify-content: space-evenly;
};

.date-picker{
  width: 206px;
}
