@import 'src/styles/variabels';

.data-table-wrapper {
	width: 100%;
	height: $app-content-height;
}

.data-table {
	width: 100%;
}

.data-table-header {
  height: 10%;
  display: flex;
  align-items: center;
  // flex-direction: row-reverse;
}

.data-table-add-button {
  margin-right: 15px;
  // margin-top: 160px;
}


.selects-container{
  display: flex;
  // flex-grow: 1;
  --gap: 10rem;
  --gp: 1.2rem
}

.selects-container > *{
  margin-left: var(--gap)

}

.selects-container > *{
  margin-top: var(--gp)
}
.add-but{
  margin-left: auto;
}
