<div class="report-expanse-container-wrapper">
	<div class="report-expense-table-wrapper">
		<app-data-table
			*ngIf="!isLoading; else spinner"
			#dataTableComponent
			[columnDefs]="columnDefs"
			[dataSource]="displayedReportsData"
      [selectDef1]="dateSelectDef"
      [selectDef2]="accountSelectDef"
      [selectControl1]="dateSelectControl"
      [selectControl2]="accountSelectControl"
		></app-data-table>
	</div>
</div>
<ng-template #spinner>
	<app-spinner></app-spinner>
</ng-template>
